@import "../animations";

.loadingScreen {
    position: relative ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    transition: 1s;
    background: rgb(30,60,114);
background: linear-gradient(180deg, rgba(30,60,114,1) 0%, rgba(42,82,152,1) 100%);
    .loadingScreen__circle {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #fff4e6;
        opacity: 0;
        margin: 20px;
    }
    .screen__circle--1 {
        animation: 0.5s loading forwards 1s;
    }
    .screen__circle--2 {
        animation: 1s loading forwards 1.5s;
    }
    .screen__circle--3 {
        animation: 1.5s loading forwards 2s;
    }
}