.NextDays {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: rgb(30,60,114);
    grid-column: 2 / 6;
    grid-row: 1;
    animation: entry__layout 2s forwards;
    .NextDays__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        align-items: center;
        width: 320px;
        height: 300px;
        background: rgb(35, 68, 129);
        border-radius: 20px;
        img {
            width: 100px;
        }
        img + p {
            font-weight: bold;
            
            font-size: 1.3rem;
        }
        div > p {
            margin-top: 20px;
            font-weight: 500;
        }
    }
}